@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --navbar-bg: #222;
  --navbar-border: #080808;
  --navbar-link-color: #9d9d9d;
  --navbar-link-hover: #fff;
  --navbar-brand-color: #9d9d9d;
  --navbar-brand-hover: #fff;
}

body {
  font-family: 'Reddit Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
